<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page d'accueil</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <img src="/images/what-a-leak.png" alt="Image en haut à droite" class="header-image">
    
    <h1 th:text="${message}">Welcome on What a Leak!</h1>

    <button onclick="window.location.href='/index';">See leak detection chart </button>


    <!-- Bouton de déconnexion -->
    <button onclick="window.location.href='/logout';">Log out</button>
    
    <script>
    function logout() {
        fetch('/api/logout', { method: 'POST' })
            .then(response => response.text())
            .then(data => {
                console.log(data); // Affiche "Session cleared"
                window.location.href = '/'; // Redirige vers la page de connexion
            });
    }
    </script>

</body>
</html>
